.conteudo{
    display: flex;
    justify-content: center;
}

.Principal img{
    margin: 20px 0;
}

.Principal h1{
    margin: 10px 0;
    font-size: 50px;
}

.Principal p{
    margin: 5px 0;
    font-size: 19px;
}