/*css global, config global*/
*{
    margin: 0;
    padding: 0;
}

:root{
    --branco: white;

}

body {
    background-color: var(--branco);
    font-family: Verdana;
}

button {
    color: var(--branco);
    border: 2px var(--branco) solid;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: blueviolet;
}
button :hover {
  transform: scale(1.1);
  transition: 0.4s;
}
/*animação da linha sublinhando o texto*/
a{
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

a::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

a:hover::after{
    animation: linhaHover 0.4s ease-in-out forwards;
}
