/*css global, config global*/
:root{
    --branco: white;

}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--branco);
}

a {
    text-decoration: none;
    color: var(--branco);
    border: 2px var(--branco) solid;
    border-radius: 15px;
    padding: 4px;
    background-color: blueviolet;
}